<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org"/>
    <title>Faculty Home | UniApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/user/' + ${emailprefix} + '/home'}">UniApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/faculty/courses'}">My Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/faculty/profile'}">Profile</a>
            </li>
        </ul>
        <a class="btn btn-primary" href="/login">Logout</a>
    </div>
</nav>
<!-- Page Content  -->
<h1 th:text="${'Hi, ' + user.name + '!'}">...</h1>
<p>As a faculty member, we thought you might want to know what courses we are offering. Here are a few:</p>
<table>
    <tr data-th-each="course : ${courses}">
        <td data-th-text="${course.department}">...</td>
        <td data-th-text="${course.CourseNumber}">...</td>
    </tr>
</table>
</body>
</html>