<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Student Profile | UniApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/user/' + ${emailprefix} + '/home'}">UniApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/student/courses'}">My Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/student/profile'}">Profile</a>
            </li>
        </ul>
        <a class="btn btn-primary" href="/login">Logout</a>
    </div>
</nav>
<!-- body -->
<h1>Student's Profile</h1>
<p>This is a student's profile, with administrative info listed</p>
<!-- Student Info -->
<table>
    <tr>
        <td>Student name</td>
        <td th:text="${user.name}">..</td>
    </tr>
    <tr>
        <td>Student e-mail</td>
        <td th:text="${user.email}">..</td>
    </tr>
    <tr>
        <td>Student id</td>
        <td th:text="${user.ID}">..</td>
    </tr>
</table>
</body>
</html>