<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org"/>
    <title>Faculty Home | UniApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="Home">UniApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">My Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
        </ul>
        <a class="btn btn-primary" href="/login">Login</a>
    </div>
</nav>
<!-- Page Content  -->
<h1>Faculty Home Page</h1>
<table>
    <tr>
        <td>Faculty name</td>
        <td th:text="${user.name}">..</td>
    </tr>
    <tr>
        <td>Faculty e-mail</td>
        <td th:text="${user.email}">..</td>
    </tr>
    <tr>
        <td>Faculty id</td>
        <td th:text="${user.ID}">..</td>
    </tr>
</table>
</body>
</html>