<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org"/>
    <title>Add Course | UniApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/user/' + ${emailprefix} + '/home'}">UniApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/administrator/courses'}">Courses<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/administrator/viewstudents'}">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/administrator/viewfaculty'}">Faculty</a>
            </li>
        </ul>
        <a class="btn btn-primary" href="/login">Logout</a>
    </div>
</nav>
<!-- Page Content  -->
<h1>Add a Course</h1>
<!-- Add a student form -->
<form method="post" th:action="@{'/user/' + ${emailPrefix} + '/administrator/editcourse/' + ${courseAlias} + '/submit'}" modelAttribute="student">
    <table>
        <tr>
            <td>Department </td>
            <td data-th-text="${department}">...</td>
        </tr>
        <tr>
            <td>Course Number </td>
            <td data-th-text="${course.CourseNumber}">...</td>
        </tr>
        <tr>
            <td>Quarter </td>
            <td data-th-text="${course.quarter.alias}">...</td>
        </tr>
        <tr>
            <td>Faculty Member </td>
            <td>
                <select name="faculty">
                    <option value="" text=""></option>
                    <option th:each="faculty : ${facultyMembers}" th:value="${faculty.email}" th:text="${faculty.email}">...</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Room </td>
            <td>
                <select name="room">
                    <option value="" text=""></option>
                    <option th:each="room : ${rooms}" th:value="${room.name}" th:text="${room.name}">...</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Is Course Open?</td>
            <td>
                <input type="radio" id="open" name="isopen" value="true" th:checked="${course.isOpen}"/>
                <label for="open">Yes</label>
                <input type="radio" id="closed" name="isopen" value="false" th:checked="${!course.isOpen}"/>
                <label for="closed">No</label>
            </td>
        </tr>
        <tr>
            <td><input type="Submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>