<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org"/>
    <title>Admin Manage Faculty | UniApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/user/' + ${emailprefix} + '/home'}">UniApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/administrator/courses'}">Courses<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/administrator/viewstudents'}">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/administrator/viewfaculty'}">Faculty</a>
            </li>
        </ul>
        <a class="btn btn-primary" href="/login">Logout</a>
    </div>
</nav>
<!-- body -->
<h1>Admin Faculty Page</h1>
<p>This is where administrators edit faculty information</p>
<table>
    <td ><strong>ID</strong></td>
    <td ><strong>Name</strong></td>
    <td align="center"><strong>E-mail</strong></td>
    <tr data-th-each="faculty : ${facultyMembers}">
        <td data-th-text="${faculty.ID}">...</td>
        <td data-th-text="${faculty.name}">...</td>
        <td data-th-text="${faculty.email}">...</td>
        <td>
            <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/administrator/delete/' + ${faculty.ID}}">Delete</a>
        </td>
    </tr>
</table>
</body>
</html>