<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org"/>
    <title>Add Student | UniApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'/user/' + ${emailprefix} + '/home'}">UniApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/user/' + ${emailprefix} + '/administrator/courses'}">Courses<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Students</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Faculty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Administrators</a>
            </li>
        </ul>
        <a class="btn btn-primary" href="/login">Logout</a>
    </div>
</nav>
<!-- Page Content  -->
<h1>Add a User</h1>
<!-- Add a student form -->
<form method="post" th:action="@{'/user/' + ${emailprefix} + '/administrator/createstudent'}" modelAttribute="student">

    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name"/></td>
            <td>Name can be anything</td>
        </tr>
        <tr>
            <td>E-mail</td>
            <td><input type="text" name="email"/></td>
            <td>E-mail must be of format "bob@uchicago.edu"</td>
        </tr>
        <tr>
            <td>ID</td>
            <td><input type="text" name="id"/></td>
            <td>For students: ID must have 6 digits. For Faculty: ID must have 5 digits. For Admin: ID must have 3 digits.</td>
        </tr>
        <tr>
            <td><input type="Submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>