<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org"/>
    <title>Courses | Home </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">UniApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- placeholder -->
        </ul>
            <a class="btn btn-primary" href="/login">Login</a>
    </div>
</nav>
<!-- body -->
<h1>Home</h1>
<p>This is where the courses are listed</p>
<table>
    <tr data-th-each="course : ${courses}">
        <td data-th-text="${course.department}">...</td>
        <td data-th-text="${course.CourseNumber}">...</td>
    </tr>
</table>
</body>
</html>