<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <title>Login | UniApp</title>
</head>
<body>
<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">UniApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!-- placeholder -->
        </ul>
        <a class="btn btn-primary" href="/login">Login</a>
    </div>
</nav>
<!-- body -->
<h1>Login</h1>
<p>This is where users log in</p>
<form action="/signin" method="post">
    <tr>
        <td>E-mail</td>
        <td><input type="text" name="email"/></td>
    </tr>
    <tr>
        <td><input type="submit" value="login"/></td>
    </tr>
</form>
<p>(For Administrator, try "adminalan@uchicago.edu")</p>
<p>(For Student, try "joe@uchicago.edu")</p>
<p>(For Faculty, try "profmartin@uchicago.edu")</p>
</body>
</html>