<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="https://www.thymeleaf.org"/>
    <title>Faculty Home | UniApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
</head>
<body>
<!-- top navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="Home">UniApp</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">My Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
            </li>
        </ul>
        <a class="btn btn-primary" href="/login">Logout</a>
    </div>
</nav>
<!-- Page Content  -->
<h1 th:text="${'Welcome, ' + user.name + ' (Admin)!'}">...</h1>
<p>What do you want to do?</p>
<ul>
    <a th:href="@{'/user/' + ${emailprefix} + '/administrator/newstudent'}">Add a student</a>
</ul>

</body>
</html>