@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
    font-family: 'varela round', sans-serif;
    padding: 10px;
}

nav {
    background-color: #896bb3;
    color: #ffffff;

}